@charsert "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 120vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 120vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    height: 600px;
    width: 350px;
    background: url('../imagens/frame-iphone-2.png') no-repeat;
}

iframe#tela {
    position: relative;
    border-radius: 25px;
    top: 18px;
    left: 55px;
    width: 258px;
    height: 559px;
}